dokument {
	margin: 50px auto;
    width: 640px;
	background-color: #ffffff;
	font-size: 10pt;
	font-family: 'Verdana', sans-serif;
}
nagłówek {
    border-radius: 15px 15px 0 0;
    width: 100%;
	display: table;
	font-size: 120%;
	padding: 15px;
    background-color: #ffecb3;
    text-align: center;
    vertical-align:top;
}
nagłówek > * {
	display: block;
}
nagłówek > uczelnia {
	text-decoration: underline;
    font-size: 140%;
}
nagłówek > wydział:before {
	content: "Wydział: ";
	font-weight: normal;
}
nagłówek > przedmiot {
	font-weight: bold;
}
nagłówek > przedmiot:before {
	content: "Przedmiot: ";
	font-weight: normal;
}
nagłówek > rok_akademicki:before {
	content: "Rok akademicki: ";
	font-weight: normal;
}
nagłówek > zadanie {
    border-radius: 15px;
    display: inline-block;
    padding: 11px;
    margin: 10px auto;
    width: 46%;
    height: 140px;
    background-color: #ffffe5;
    text-align: left;
    vertical-align:top;
}
nagłówek > zadanie > * {
    display: block;
}
nagłówek > zadanie > numer_zadania {
    font-weight: bold;
}
nagłówek > zadanie > termin_oddania:before {
    content: "Termin oddania: ";
    font-weight: normal;
}
nagłówek > zadanie > termin_oddania {
	font-weight: bold;
}
nagłówek > autorzy:before {
    content: "Autorzy:";
    font-weight: bold;
    display: block;
}
nagłówek > autorzy {
    border-radius: 15px;
    display: inline-block;
    padding: 11px;
    margin: 10px auto;
    width: 46%;
    height: 140px;
    background-color: #ffffe5;
    text-align: left;
}
nagłówek > autorzy > * {
    display: block;
}
nagłówek autor {
	display: list-item;
	list-style-position: inside;
}
nagłówek autor > imię {
    display: inline-block;
}
nagłówek autor > indeks:before {
	content: "Nr indeksu: ";
}
nagłówek autor > indeks {
	display: block;
}
nagłówek autor:after {
    content: "Specjalność: " attr(specjalność);
}

płyty_muzyczne:before {
    content: "Płytoteka: ";
    display: table;
    width: 100%;
    padding: 15px;
    font-size: 140%;
	margin-bottom: 1em;
    font-weight: bold;
}
płyty_muzyczne {
    display: block;
    column-count: 2;
    width: 100%;
	padding: 15px;
    background-color: #fff9c4;
}

płyty_muzyczne > płyta[id_wykonawcy="W01"]:before {
        content: "Wykonawca: Led Zeppelin";
}
płyty_muzyczne > płyta[id_wykonawcy="W02"]:before {
        content: "Wykonawca: Black Sabbath";
}
płyty_muzyczne > płyta[id_wykonawcy="W03"]:before {
        content: "Wykonawca: Miles Davis";
}
płyty_muzyczne > płyta[id_wykonawcy="W04"]:before {
        content: "Wykonawca: Django Reinhardt";
}
płyty_muzyczne > płyta[id_wykonawcy="W05"]:before {
        content: "Wykonawca: Trzy Korony";
}
płyty_muzyczne > płyta[id_wykonawcy="W06"]:before {
        content: "Wykonawca: MC5";
}
płyty_muzyczne > płyta[id_wykonawcy="W07"]:before {
        content: "Wykonawca: Pi";
}
płyty_muzyczne > płyta[id_wykonawcy="W08"]:before {
        content: "Wykonawca: Fatlak";
}

płyty_muzyczne > płyta {
    display: list-item;
    margin-bottom: 2em;
    list-style-image: url('img/nutka.png');
    list-style-position: inside;
}
płyta > tytuł:before {
    content: open-quote;
}
płyta > tytuł:after {
    content: close-quote;
}
płyta > tytuł {
    display: block;
    font-size: 115%;
    margin-left: 1ex;
    quotes: """ """;
}

płyta > rok_wydania:before {
    content: " (";
}
płyta > rok_wydania:after {
    content: ")";
}
płyta > rok_wydania {    
    display: block;
    font-style: italic;
    font-size: 90%;
}
płyta > gatunek:before {
	content: "Gatunek: ";
}
płyta > gatunek {
	display: block;
}



wykonawcy:before {
    content: "Ulubieni wykonawcy: ";
    display: table;
    width: 100%;
    padding: 10px;
    font-size: 140%;
    font-weight: bold;
}
wykonawcy {
    border-radius: 0 0 15px 15px;
    display: block;
    column-count: 2;
    width: 100%;
	padding: 15px; 
    background-color: #cbba83;
}
wykonawcy > wykonawca {
    display: list-item;
    margin-bottom: 2em;
    list-style-image: url('img/gwiazdka.png');
    list-style-position: inside;
    font-size: 130%;
}
wykonawca:after {
    display: block;
    content: "ID: " attr(id_wykonawcy);
    font-size: 80%;
    font-style: italic;
}